h1, h2, h3, h4, h5, h6 { font-family: sans-serif; }
.node P {
  background: #2965AB;
  color: white;
  margin: 0;  padding: 0.5em 0.5em 0.5em;
  border-bottom: outset 3px #4985CB;
  border-right: outset 3px #4985CB;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10pt;
}
.node A {
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.node A[name] {
  font-weight: bold;
  color: black;
}
.node A[href] {
  color: #c0c0c0;
  border-bottom-style: dotted;
}
.node A[href]:hover {
  border-bottom-color: darkred;
}
A[href] {
  border-bottom: 1px solid black;
}
PRE
{
  background: #efeee0;
  color: black;
  padding: 0.1em;
  border: 1px solid #bbbaaf;
  /* border-bottom: outset 3px #bbbaaf; */
  /* border-right: outset 3px #bbbaaf; */
}
PRE.lisp
{
  border: none;
  background: #f5f5f5;
}
.node HR, .node BR {
  display: none;
}
A[href]:hover {
  border-bottom: 1px solid red;
}
A {
  color: #3e42d9;
  text-decoration: none;
}
UL A[href] {
  border-bottom: none;
}
