Source: chicken
Homepage: http://www.call-with-current-continuation.org/
Section: interpreters
Priority: optional
Maintainer: Davide Puricelli (evo) <evo@debian.org>
Build-Depends: debhelper (>> 4.0.0), libpcre3-dev, texinfo
Standards-Version: 3.7.3

Package: chicken-bin
Section: interpreters
Architecture: any
Conflicts: chicken, chicken-dev
Depends: ${shlibs:Depends}, libchicken-dev (= ${binary:Version})
Replaces: chicken, chicken-dev
Description: A practical and portable Scheme system - compiler
 CHICKEN is a Scheme compiler which compiles a subset of R5RS into C.
 It uses the ideas presented in Baker's paper "Cheney on the MTA", and
 has a small core and is easily extendable.
 .
 This package contains the compiler.
 

Package: libchicken3
Architecture: any
Section: libs
Priority: optional
Replaces: chicken, chicken-dev
Depends: ${shlibs:Depends}
Conflicts: chicken, chicken-dev
Description: A practical and portable Scheme system - runtime
 CHICKEN is a Scheme compiler which compiles a subset of R5RS into C. 
 It uses the ideas presented in Baker's paper "Cheney on the MTA", and 
 has a small core and is easily extendable.
 .
 This package contains the shared library needed to run programs using
 chicken.
 

Package: libchicken-dev
Architecture: any
Section: libdevel
Priority: optional
Conflicts: chicken, chicken-dev
Depends: libchicken3 (= ${binary:Version}), libpcre3-dev
Replaces: chicken, chicken-dev
Description: A practical and portable Scheme system - development
 CHICKEN is a Scheme compiler which compiles a subset of R5RS into C.
 It uses the ideas presented in Baker's paper "Cheney on the MTA", and
 has a small core and is easily extendable.
 .
 This package contains the header file and static library for developing
 with chicken.

