Source: chicken
Section: interpreters
Priority: optional
Maintainer: Davide Puricelli (evo) <evo@debian.org>
Build-Depends: debhelper (>> 3.0.0), autotools-dev, libpcre3-dev
Standards-Version: 3.6.2

Package: chicken-bin
Section: interpreters
Architecture: any
Conflicts: chicken, chicken-dev
Depends: ${shlibs:Depends}, libchicken-dev (= ${binary:Version})
Replaces: chicken, chicken-dev
Description: Simple Scheme-to-C compiler - compiler
 CHICKEN is a Scheme compiler which compiles a subset of R5RS into C.
 It uses the ideas presented in Baker's paper "Cheney on the MTA", and
 has a small core and is easily extendable.
 .
 This package contains the compiler.
 .
 Homepage: http://www.call-with-current-continuation.org

Package: libchicken0
Architecture: any
Section: libs
Priority: optional
Replaces: chicken, chicken-dev
Depends: ${shlibs:Depends}
Conflicts: chicken, chicken-dev
Description: Simple Scheme-to-C compiler - runtime
 CHICKEN is a Scheme compiler which compiles a subset of R5RS into C. 
 It uses the ideas presented in Baker's paper "Cheney on the MTA", and 
 has a small core and is easily extendable.
 .
 This package contains the shared library needed to run programs using
 chicken.
 .
 Homepage: http://www.call-with-current-continuation.org

Package: libchicken-dev
Architecture: any
Section: libdevel
Priority: optional
Conflicts: chicken, chicken-dev
Depends: libchicken0 (= ${binary:Version}), libpcre3-dev
Replaces: chicken, chicken-dev
Description: Simple Scheme-to-C compiler - development
 CHICKEN is a Scheme compiler which compiles a subset of R5RS into C.
 It uses the ideas presented in Baker's paper "Cheney on the MTA", and
 has a small core and is easily extendable.
 .
 This package contains the header file and static library for developing
 with chicken.
 .
 Homepage: http://www.call-with-current-continuation.org
