Source: chicken
Section: interpreters
Priority: optional
Maintainer: Ivan Raikov <raikov@cc.gatech.edu>
Build-Depends: debhelper (>> 3.0.0), autotools-dev
Standards-Version: 3.6.2

Package: chicken-bin
Section: interpreters
Architecture: any
Conflicts: chicken, chicken-dev
Depends: ${shlibs:Depends}, libchicken-dev (= ${Source-Version})
Replaces: chicken, chicken-dev
Description: Simple Scheme-to-C compiler - compiler
 CHICKEN is a compiler for the Scheme programming language. CHICKEN produces portable,
 efficient C, supports almost all of the current Scheme language standard, R5RS and includes
 many enhancements and extensions. CHICKEN runs on MacOS X, Windows, and many Unix flavours.
 .
 This package contains the compiler.
 .
 Homepage: http://www.call-with-current-continuation.org

Package: libchicken0
Architecture: any
Section: libs
Priority: optional
Replaces: chicken, chicken-dev
Depends: ${shlibs:Depends}
Conflicts: chicken, chicken-dev
Description: Simple Scheme-to-C compiler - runtime
 CHICKEN is a compiler for the Scheme programming language. CHICKEN produces portable, 
 efficient C, supports almost all of the current Scheme language standard, R5RS and includes 
 many enhancements and extensions. CHICKEN runs on MacOS X, Windows, and many Unix flavours.
 .
 This package contains the shared library needed to run programs using
 chicken.
 .
 Homepage: http://www.call-with-current-continuation.org

Package: libchicken-dev
Architecture: any
Section: libdevel
Priority: optional
Conflicts: chicken, chicken-dev
Depends: libchicken0 (= ${Source-Version}), libpcre3-dev
Replaces: chicken, chicken-dev
Description: Simple Scheme-to-C compiler - development
 CHICKEN is a compiler for the Scheme programming language. CHICKEN produces portable,
 efficient C, supports almost all of the current Scheme language standard, R5RS and includes
 many enhancements and extensions. CHICKEN runs on MacOS X, Windows, and many Unix flavours.
 .
 This package contains the header file and static library for developing
 with chicken.
 .
 Homepage: http://www.call-with-current-continuation.org
